# Image Augmentation (Sentetik Görüntü Verileri Yaratma)

In [1]:
from keras.preprocessing.image import ImageDataGenerator, img_to_array, load_img
import os
import glob

/Users/Alperen/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
# sentetik goruntu olustururken kullanacagimiz original resimler
resimler = ['5-2.jpg', '5-1.jpg', '10-2.jpg', '10-1.jpg', 
            '20-2.jpg', '20-1.jpg', '50-2.jpg', '50-1.jpg', 
            '100-2.jpg', '100-1.jpg', '200-2.jpg', '200-1.jpg']
# bu goruntulerin bulunacaklari klasorler
klasorler = [ '5lira_arka_yuz', '5lira_on_yuz', '10lira_arka_yuz', '10lira_on_yuz',
              '20lira_arka_yuz', '20lira_on_yuz', '50lira_arka_yuz', '50lira_on_yuz',
              '100lira_arka_yuz', '100lira_on_yuz', '200lira_arka_yuz', '200lira_on_yuz']

## Klasörlerin Oluşturulması

In [9]:
# olusturacagimiz resimlerin bulunacaklari klasorleri olusturduk
os.makedirs('veriler')

# resimlerin bulunacagi klasorleri olusturduk
for klasor in klasorler :
    os.makedirs('./veriler/'+klasor)

## Resimlerin Oluşturulması

In [10]:
# uretmek istedigimiz sentetik resim sayisi (199 sentetik, 1 tane de orijinali = 200)
image_count = 199

def resim_uret(images, folders, number):
    # kullanilacak veri arttirma tekniklerini tanimladik
    datagen = ImageDataGenerator(rotation_range = 10,
                                 horizontal_flip = True,
                                 vertical_flip = True,
                                 zoom_range = 0.2)
    
    # banknotes klasorunden orijinal resimleri tek tek okuyup matrise ceviriyoruz
    for counter in range(len(images)):
        img = load_img('./banknotes/'+images[counter])
        x = img_to_array(img)
        x = x.reshape((1,) + x.shape)
        
        # herbir banknote yuzu icin de 199 adet sentetik veri uretiyoruz
        i = 1
        for batch in datagen.flow(x, batch_size = 1,
                          save_to_dir = './veriler/'+folders[counter], 
                          save_format = 'jpg'
                          ):
            i += 1
            if i > number:
                break 

resim_uret(resimler,klasorler,image_count)

## Eksik Üretilen Resimlerin Kontrolü ve Tekrar Üretilmesi

In [11]:
# https://github.com/keras-team/keras/issues/8249 veri kaybetme sorunu
"""
save_to_dir parametresi yuzunden istenilenden eksik sayida resim uretilebiliyor. Bu durumu kontrol etmemiz gerekir
"""
goruntu_sayilari = list()

# her banknote icin urettigimiz goruntu miktarini bulup listeye atiyoruz
def uretilen_goruntu_sayisini_bul():
    for sayac in range(len(klasorler)):
        goruntu_sayilari.append(len(glob.glob('./veriler/'+klasorler[sayac]+'/*.jpg')))
        
uretilen_goruntu_sayisini_bul()
print(goruntu_sayilari)

[198, 195, 198, 197, 197, 198, 198, 195, 196, 198, 197, 197]

In [12]:
goruntu_sayilari = []

# eksik goruntuleri bulduktan sonra olmasi gereken sayiya tamamliyoruz
eksikVarmi = True

def klasorleri_kontrol_et():
    global eksikVarmi
    global goruntu_sayilari
    goruntu_sayilari = []
    uretilen_goruntu_sayisini_bul()
    sayac = -1
    for i in range(len(goruntu_sayilari)):
        if goruntu_sayilari[i] != image_count:
            eksikVarmi = True
            sayac = i
            break
        else :
            eksikVarmi = False
    
    if eksikVarmi :
        return sayac
    else :
        return -1
            
def eksikleri_tamamla():
    global eksikVarmi
    eksik_olan_index = klasorleri_kontrol_et()
    
    if eksik_olan_index != -1:
        uretilecek_resimler = list()
        eklenecek_klasorler = list()
        # eksik uretilen resim sayisini buluyoruz
        eksik_resim_sayisi = image_count - goruntu_sayilari[eksik_olan_index]

        # resim_uret fonksiyonu icin resimler ve klasorler listelerde tutulmali
        uretilecek_resimler.append(resimler[eksik_olan_index])
        eklenecek_klasorler.append(klasorler[eksik_olan_index])

        resim_uret(uretilecek_resimler, eklenecek_klasorler, eksik_resim_sayisi)
    else :
        eksikVarmi = False
        
while eksikVarmi:
    eksikleri_tamamla()

In [13]:
goruntu_sayilari = []
uretilen_goruntu_sayisini_bul()
print(goruntu_sayilari)

[199, 199, 199, 199, 199, 199, 199, 199, 199, 199, 199, 199]

## Orijinal Resimleri Verilere Ekleme

In [14]:
from shutil import copy2

# banknotes klasorunun icindeki orijinal resimleri, urettigimiz sentetik verilerin arasina kopyaliyor
for sayac in range(len(resimler)):
    copy2('./banknotes/'+resimler[sayac], './veriler/'+klasorler[sayac])

In [15]:
goruntu_sayilari = []
uretilen_goruntu_sayisini_bul()
print(goruntu_sayilari)

[200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200, 200]

## Eğitim Verisinin Oluşturulması

In [16]:
import cv2
import numpy as np
import pandas as pd

In [19]:
labels = []

# egitim verisinin cikti degerleri
# 200'er tane 0,1,2, .. ,11 den olusan bir dizi olusturuyoruz
for i in range(12):
    for counter in range(200):
        labels.append(i)

In [17]:
images = []

# egitim verisinin cikti degerleri
def verileriOku(foldername):
    for counter in range(len(foldername)):
        for filename in glob.glob('./veriler/'+foldername[counter]+'/*.jpg'):
            img = cv2.imread(filename)
            
            # resimleri hizli isleyebilmek ve ayni boyuta gelmelerini saglamak icin 200*92 seklinde boyutlandiriyoruz
            img = cv2.resize(img, (200, 92))
            # resimleri siyah beyaz yapiyoruz
            img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
            images.append(img)

verileriOku(klasorler)

In [20]:
# resimleri 200*92 = 18400 boyutunda bir listeye ceviriyoruz
# toplamda 12*200 = 2400 resim bulunmakta
images = np.reshape(images, (2400,18400))

images_csv = pd.DataFrame(images)
images_csv.to_csv('../verisetleri/images.csv')

labels_csv = pd.DataFrame(labels)
labels_csv.to_csv('../verisetleri/labels.csv')

In [21]:
images_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Columns: 18400 entries, 0 to 18399
dtypes: uint8(18400)
memory usage: 42.1 MB

In [22]:
labels_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 1 columns):
0    2400 non-null int64
dtypes: int64(1)
memory usage: 18.8 KB

In [23]:
images_csv.head()

,0,1,2,3,4,5,6,7,8,9,...,18390,18391,18392,18393,18394,18395,18396,18397,18398,18399
0,244,242,241,245,247,247,247,245,247,247,...,230,230,228,225,224,222,222,229,224,218
1,234,234,234,234,232,233,234,235,235,237,...,239,240,240,237,241,236,237,234,234,234
2,226,234,229,227,227,228,225,228,226,230,...,238,238,236,237,238,239,238,237,238,239
3,234,234,234,234,234,234,237,240,239,240,...,235,234,233,232,234,234,234,234,234,234
4,247,247,247,247,247,247,246,245,247,246,...,229,229,229,228,229,225,222,224,224,226

In [24]:
labels_csv.head()

   0
0  0
1  0
2  0
3  0
4  0